streamlit>=1.28
langchain>=0.2.6
openai>=1.2
duckduckgo-search
anthropic>=0.3.0
trubrics>=1.4.3
streamlit-feedback
langchain-community
pandas

langchain-experimental
ibm-watsonx-ai>=0.2.6
langchain_ibm==0.1.8
sentence-transformers==3.0.1
chromadb==0.5.3
pydantic==2.8.2
pymysql
pyzmq==25.1.2



requests
ibm-cloud-sdk-core
ibm-watson

langchain_core
mysql-connector-python
transformers>=4.0
torch>=1.9

folium
streamlit-folium

scikit-learn
geopy
osmnx
networkx

geopandas>=0.10
shapely>=1.7
sqlalchemy>=1.4

ollama